<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/navigation.css">
    <title>Computer Science faculty</title>
</head>

<body>
    <header>
        <div class="navbar">
            <a href="/">CS</a>
            <div class="dropdown">
                <button class="dropbtn">Add records
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/records/create/student">Student</a>
                    <a href="/records/create/teacher">Teacher</a>
                    <a href="/records/create/subject">Subject</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">View records
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/">All records</a>
                    <a href="/records/students-and-disciplines">Students and disciplines</a>
                    <a href="/records/students-and-credits">Students and their credits</a>
                    <a href="/records/teachers-and-subjects">Teachers and their subjects</a>
                    <a href="/records/most-enrolled-subjects">Most enrolled subjects</a>
                    <a href="/records/top-three-teachers">Teachers with the most enrolled students</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        {{{body}}}
    </main>
</body>

</html>