<h1 class="title">All records</h1>
<div class="table">
    <h2>Teachers Table</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Number of taught subjects</th>
        </tr>
        <tr>
            <td>Maria Anders</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Francisco Chang</td>
            <td>7</td>
        </tr>
        <tr>
            <td>Roland Mendel</td>
            <td>3</td>
        </tr>
        <tr>
            <td>Helen Bennett</td>
            <td>25</td>
        </tr>
    </table>
</div>
<div class="table">
    <h2>Students Table</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Year in college</th>
        </tr>
        <tr>
            <td>Maria Anders</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Francisco Chang</td>
            <td>2</td>
        </tr>
        <tr>
            <td>Roland Mendel</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Helen Bennett</td>
            <td>3</td>
        </tr>
    </table>
</div>