<div class="container">
    <h2 class="title">Create Teacher</h2>
    <form action="" method="POST">
        <label for="title">Title</label>
        <select id="title" name="title">
            <option value="assistant">Assistant</option>
            <option value="senior_assistant">Senior assistant</option>
            <option value="associate_professor">Associate Professor</option>
            <option value="professor">Professor</option>
        </select>

        <label for="fname">First Name</label>
        <input type="text" id="fname" name="first_name" placeholder="Your name..">

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="last_name" placeholder="Your last name..">

        <input type="submit" value="Submit">
    </form>
</div>