<h1 class="title">Top 3 most enrolled subjects</h1>
<div class="table">
    <table>
        <tr>
            <th>Name</th>
            <th>Number of enrolled students</th>
        </tr>
        <tr>
            <td>Computer programming</td>
            <td>263</td>
        </tr>
        <tr>
            <td>Databases</td>
            <td>
                255
            </td>
        </tr>
        <tr>
            <td>Advanced mathematics</td>
            <td>
                212
            </td>
        </tr>
    </table>
</div>