<h1 class="title">Students and disciplines</h1>
<div class="table">
    <table>
        <tr>
            <th>Name</th>
            <th>Subjects</th>
            <th>Info</th>
        </tr>
        <tr>
            <td>Maria Anders</td>
            <td>
                Databases, Databases, Databases, Databases, Databases, Databases, Databases, Databases, Databases,
                Databases, Databases, Databases, Databases, Databases, Databases, Databases, Databases, Databases,
                Databases, Databases, Databases, Databases, Databases, Databases, Databases, Databases, Databases,
                Databases, Databases, Databases, Databases, Databases, Databases, Databases, Databases, Databases,
                Databases, Databases, Databases, Databases, Databases, Databases, Databases, Databases, Databases,
                Databases, Databases, Databases, Databases, Databases, Databases, Databases, Databases,
            </td>
            <td><a href="#">Add more</a></td>
        </tr>
        <tr>
            <td>Francisco Chang</td>
            <td>
                Algorithms, Algorithms, Algorithms, Algorithms, Algorithms, Algorithms, Algorithms, Algorithms,
                Algorithms, Algorithms, Algorithms, Algorithms, Algorithms, Algorithms, Algorithms, Algorithms,
                Algorithms, Algorithms, Algorithms, Algorithms, Algorithms, Algorithms, Algorithms, Algorithms,
                Algorithms, Algorithms, Algorithms, Algorithms, Algorithms, Algorithms, Algorithms, Algorithms,
                Algorithms, Algorithms, Algorithms, Algorithms, Algorithms, Algorithms, Algorithms, Algorithms,
                Algorithms, Algorithms, Algorithms, Algorithms, Algorithms, Algorithms, Algorithms, Algorithms,
                Algorithms, Algorithms, Algorithms, Algorithms, Algorithms, Algorithms, Algorithms, Algorithms,
                Algorithms, Algorithms,
            </td>
            <td><a href="#">Add more</a></td>
        </tr>
        <tr>
            <td>Roland Mendel</td>
            <td>3</td>
            <td><a href="#">Add more</a></td>
        </tr>
        <tr>
            <td>Helen Bennett</td>
            <td>25</td>
            <td><a href="#">Add more</a></td>
        </tr>
    </table>
</div>