<h1 class="title">Students and credits</h1>
<div class="table">
    <table>
        <tr>
            <th>Name</th>
            <th>Credits</th>
        </tr>
        <tr>
            <td>Maria Anders</td>
            <td>
                25
            </td>
        </tr>
        <tr>
            <td>Francisco Chang</td>
            <td>
                33
            </td>
        </tr>
        <tr>
            <td>Roland Mendel</td>
            <td>38</td>
        </tr>
        <tr>
            <td>Helen Bennett</td>
            <td>85</td>
        </tr>
    </table>
</div>