<h1 class="title">Teachers and subjects</h1>
<div class="table">
    <table>
        <tr>
            <th>Name</th>
            <th>Subject: Number of students</th>
        </tr>
        <tr>
            <td>Maria Anders</td>
            <td>
                Databases: 45 students, Databases: 45 students, Databases: 45 students, Databases: 45 students, 
            </td>
        </tr>
        <tr>
            <td>Francisco Chang</td>
            <td>
                33
            </td>
        </tr>
        <tr>
            <td>Roland Mendel</td>
            <td>38</td>
        </tr>
        <tr>
            <td>Helen Bennett</td>
            <td>85</td>
        </tr>
    </table>
</div>