<h1 class="title">Top 3 teachers with the most enrolled students</h1>
<div class="table">
    <table>
        <tr>
            <th>Name</th>
            <th>Number of enrolled students</th>
        </tr>
        <tr>
            <td>Maria Anders</td>
            <td>
                215 students
            </td>
        </tr>
        <tr>
            <td>Francisco Chang</td>
            <td>
                200 students
            </td>
        </tr>
        <tr>
            <td>Roland Mendel</td>
            <td>155 students</td>
        </tr>
    </table>
</div>